<div class="p-6 min-h-full flex flex-col">
  <h1 class="text-lg font-semibold text-center">Admin Panel</h1>

  <div class="flex flex-col space-y-4 mt-6 flex-1">
    <a routerLink="/admin/dashboard" routerLinkActive="active-link" class="px-4 py-2 font-semibold flex items-center gap-2">
      <mat-icon>dashboard</mat-icon> Dashboard
    </a>
    <a routerLink="/admin/products" routerLinkActive="active-link" class="px-4 py-2 font-semibold flex items-center gap-2">
      <mat-icon>inventory</mat-icon> Productos
    </a>
    <a routerLink="/admin/orders" routerLinkActive="active-link" class="px-4 py-2 font-semibold flex items-center gap-2">
      <mat-icon>shopping_cart</mat-icon> Ordenes
    </a>
    <a routerLink="/admin/customers" routerLinkActive="active-link" class="px-4 py-2 font-semibold flex items-center gap-2">
      <mat-icon>people</mat-icon> Clientes
    </a>

    <a routerLink="/admin/settings" routerLinkActive="active-link" class="px-4 py-2 font-semibold flex items-center gap-2 mt-auto">
      <mat-icon>settings</mat-icon> Configuración
    </a>
  </div>
</div>
