<div class="bg-gray-50 border-b-gray-200 border-b p-2 flex justify-between items-center">
    <div class="container mx-auto max-w-7xl px-3 md:px-4">
        <div class="flex h-13 md:h-10 items-center justify-between text-xs md:text-[13px] text-slate-600">
            <div class="flex flex-col sm:flex-row items-center gap-2 md:gap-3">
                <a href="tel:+51935780060"
                    class="inline-flex items-center gap-1.5 text-slate-700 hover:text-orange-600 focus-visible:outline-2 focus-visible:outline-orange-500 rounded-full">
                    <span class="sr-only">Llamar al</span> +51 976 443 232
                </a>
                <span class="hidden sm:inline text-slate-300" aria-hidden="true">•</span>
                <a href="tel:+51940452508"
                    class="hidden sm:inline-flex items-center gap-1.5 text-slate-700 hover:text-orange-600 focus-visible:outline-2 focus-visible:outline-orange-500 rounded-full">
                    <span class="sr-only">Llamar al</span> +51 985 453 323
                </a>
                <div class="flex gap-2 md:gap-3 flex-col sm:flex-row items-center">
                    <div class="flex items-center gap-2 md:gap-3">
                        <span class="hidden sm:inline text-slate-300" aria-hidden="true">•</span>
                        <span class="inline text-slate-500">Arequipa - Perú</span>
                    </div>
                    <div class="flex gap-2 md:gap-3 flex-col sm:flex-row items-center">
                        <span class="hidden sm:inline text-slate-300" aria-hidden="true">•</span>
                        <span class="inline text-slate-500">Delivery en todo Arequipa</span>
                    </div>
                </div>
            </div>
            <div class="flex items-center gap-1.5 md:gap-2">
                <a href="/registrate"
                    class="relative inline-flex items-center justify-center rounded-full px-3 py-1.5 font-medium text-orange-700 hover:bg-orange-50 active:bg-orange-100 focus-visible:outline-2 focus-visible:outline-orange-500 transition">
                    Regístrate
                </a>
                <span class="text-slate-300 hidden md:inline" aria-hidden="true">|</span>
                <a href="/ingresar"
                    class="relative inline-flex items-center justify-center rounded-full px-3 py-1.5 font-medium text-orange-700 hover:bg-orange-50 active:bg-orange-100 focus-visible:outline-2 focus-visible:outline-orange-500 transition">
                    Ingresar
                </a>
            </div>
        </div>
    </div>
</div>